@charset "utf-8";
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong, b, mark {
    font-weight: bold;
    font-style: inherit;
}
em, i, cite, q, address, dfn, var {
    font-style: italic;
    font-weight: inherit;
}
abbr[title], dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}
ins {
    border-bottom: 1px solid;
}
a, u, ins {
    text-decoration: none;
}
del, s {
    text-decoration: line-through;
}
pre, code, samp, kbd {
    font-family: monospace;
}
small {
    font-size: 0.75em;
}
img {
    border: none;
    font-style: italic;
}
input,
select, option, optgroup,
textarea {
    font: inherit;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    background-color: #f6f9f9;
    color: #595959;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    margin: 10%;
}

.avatar {
    float: left;
    margin: 0 40px 20px 0;
}
    .avatar img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 125px;
    }

.content {
    float: left;
    width: 300px;
}
    .bio {
        text-align:justify;
        float: left;
        width: 45%;
        font-size: 15px;
        margin-left: 5px;
    }
    .title {
        font-size: 48px;
        font-weight: normal;
        line-height: 1;
        color: #404040;
    }
    .small_title {
       font-size: 38px;
       font-weight: normal;
       line-height: 1; 
       color: #404040;
    }
    .tiny_title {
       font-size: 18px;
       font-weight: bold;
       line-height: 1;
       color: #666666;
    }
    .distance-top {
        margin-top: 15px;
    }
    .distance-bottom {
        margin-bottom: 15px;
    }
    .distance-left {
        margin-left: 50px;
    }

    .social-icons li {
        display: inline;
    }
        .social-icons a {
            display: inline-block;
            margin-right: 10px;
            text-indent: -9999px;
        }
            .twitter {
                background-image: url(../img/twitter.svg);
                width: 32px;
                height: 32px;
            }
            .linkedin {
                background-image: url(../img/linkedin.svg);
                width: 32px;
                height: 32px;
            }
            .github {
                background-image: url(../img/github.svg);
                width: 32px;
                height: 32px;
            }
            .facebook {
                background-image: url(../img/facebook.png);
                width: 10px;
                height: 19px;
            }
            .googleplus {
                background-image: url(../img/googleplus.png);
                width: 21px;
                height: 19px;
            }
            .dribbble {
                background-image: url(../img/dribbble.png);
                width: 21px;
                height: 19px;
            }
            .instagram {
                background-image: url(../img/instagram.png);
                width: 20px;
                height: 19px;
            }
            .flickr {
                background-image: url(../img/flickr.png);
                width: 20px;
                height: 9px;
            }





/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p,
ul, ol, dl,
.title {
    margin-bottom: 20px;
}
p {
    font-weight: bold;
}
ul, ol, dl {
    list-style-type: none;
}
a {
    color: #ec7979;
    font-weight: bold;
}
a:hover, a:focus {
    color: #95a4a9;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}





/*------------------------------------*\
    $MISC
\*------------------------------------*/
a img:hover,
.social-icons a:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden
*/
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-2000px);
    }
    
    60% {
        -webkit-transform: translateY(30px);
    }
    
    80% {
        -webkit-transform: translateY(-10px);
    }
    
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        -moz-transform: translateY(-2000px);
    }
    
    60% {
        -moz-transform: translateY(30px);
    }
    
    80% {
        -moz-transform: translateY(-10px);
    }
    
    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        -o-transform: translateY(-2000px);
    }
    
    60% {
        -o-transform: translateY(30px);
    }
    
    80% {
        -o-transform: translateY(-10px);
    }
    
    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }
    
    60% {
        transform: translateY(30px);
    }
    
    80% {
        transform: translateY(-10px);
    }
    
    100% {
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

ul#menu {
  position: fixed;
  top: 10px;
  font-size: 18px;
  width: 75%;
  position: fixed;
  left: 80%;
  height: 50px;
  opacity: 0.8;
  display: block;
  top: 20%;
}

ul#menu li {

}

/*
ul#menu {
  position: fixed;
  background-color: black;
  top: 10px;
  font-size: 18px;
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  height: 50px;
  opacity: 0.8;
  display: block;
  
}


a.menu_links {
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
  font-weight: normal;
  display: inline-block;
  width: 128px;
  margin: auto;
}

ul#menu li {
    display:inline;
}
*/

.panel {
    width: 80%;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    padding: 40px;
}


ul.interests {
    margin: 1.5em; 
}
ul.interests li {
  padding: .2em 0 .2em .5em;
  font-weight: bold;
  color: #666;   
}
ul.interests li:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	color: #000; 
}

dl.education {
   margin: 1em;  
}
dl.education dd {
  padding: .2em 0 .2em .5em;
  color: #666;  
  margin-bottom: 5px;
}
dl.education dt {
    color: #ec7979;
    font-weight: bold;
    margin-top: 1px;
}

/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media handheld, only screen and (max-width: 720px) {
    .avatar,
    .content,
    .bio,
    .panel {
        float: none;
    }

    .avatar img {
        max-width: 125px;
        max-height: 125px;
    }

    .content, 
    .bio,
    .publication {
        width: 100%;
    }
    .publication_container {
        width: 25%;
    }
        
}

div.publications_block {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.publication {
    margin: 10px;
    text-align: justify;
}

span.em {
    font-weight: bold;
}

div.project_container {
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px;
    text-align: center;
}

img.project_thumb {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
    background-color: gray;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img.project_thumb:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    cursor: pointer;
}

/*********************** TABLE GENERATOR ************************/
.tg  {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    margin-bottom: 20px;
}
.tg td {
    padding:10px 40px;
}
.tg th {
    font-weight:bold;
    padding:10px 40px;
}
.tg_1 td {
    padding:10px 40px;
}
.tg_1 th {
    font-weight:bold;
    padding:10px 20px;
}
ul.bullets {
    list-style-type: circle;
}
